@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-inter: "Inter", sans-serif;
  --color-primary: #009A45;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

ul.slick-dots li button {
    display: none;

}